@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}
#landing {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  position: fixed;
  z-index: 999;
}

#title {
  width: 300px;
  margin: 40px auto 8px auto;
}

#container-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 0;
}
@media screen and (max-width: 375px) {
  #container-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 4vh;
    left: 0;
    z-index: 0;
  }
}

#game-display {
  display: flex;
  align-items: center;
  width: 80vw;
  height: 550px;
  margin: 12px auto 0 auto;
  background-color: #e3e7eb;
  position: relative;
}

@media screen and (max-width: 375px) {
  #game-display {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 550px;
    margin: 0 auto 3rem auto;
    background-color: #e3e7eb;
    position: relative;
  }
}

#game-message {
  color: rgb(70, 70, 70);
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

#spaceman-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 112px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#answer-display {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 200px;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 5px;
  background: white;
  border-radius: 0;
}

#ltr-buttons {
  box-sizing: border-box;
  padding: 24px 0;
  margin: 0 auto;
  position: absolute;
  bottom: 8px;
  width: 90%;
}

#reset {
  width: 84px;
  height: 40px;
  position: absolute;
  left: 16px;
  top: 16px;
  margin: 0 auto;
  text-transform: uppercase;
  background: #9686bc;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 8px;
}

#reset:hover {
  background-color: #6f6092;
  transition-duration: 0.3s;
}

#select-difficulty {
  width: 84px;
  height: 40px;
  position: absolute;
  left: 16px;
  top: 64px;
  margin: 0 auto;
  text-transform: uppercase;
  background: #9686bc;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 8px;
}

#select-difficulty:hover {
  background-color: #6f6092;
  transition-duration: 0.3s;
}

#bgm {
  width: 28px;
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}

/* #bgm-on {
  width: 28px;
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
} */


.logo {
  width: 100%;
}

#container-menu {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ltr-row {
  display: flex;
  justify-content: center;
}

.btn {
  height: 40px;
  width: 40px;
  margin: 4px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: #545f71;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .btn {
    padding: 0.1rem;
    margin: 4px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background: #545f71;
    text-align: center;
    font-size: 1rem;
  }
}

.btn:hover {
  background-color: #3a424f;
  transform: scale(1.05);
  transition-duration: 0.3s;
}

.btn:disabled {
  color: #7e7e7e;
  background-color: #c4c4c4;
}

.btn.correct-guess {
  color: #ffffff;
  background-color: #8cd991;
}

.btn.incorrect-guess {
  color: #7e7e7e;
  background-color: #c4c4c4;
}

.btn.incorrect-guess:active {
  color: #7e7e7e;
  background-color: #e19090;
}

.select-difficulty {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.level-message {
  margin: 20px 0 16px 0;
}
.level-btn {
  height: 40px;
  width: 120px;
  margin: 4px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: #545f71;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.level-btn.easy {
  color: #fff;
  background: #addc96;
}

.level-btn.medium {
  color: #fff;
  background: #91d2d9;
}

.level-btn.hard {
  color: #fff;
  background: #e29c9c;
}

.level-btn:hover {
  filter: brightness(0.9);
  transition-duration: 0.3s;
}
