@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

#title {
  width: 300px;
  margin: 40px auto 12px auto;
}

#game-container {
  display: flex;
  justify-content: center;
}

#game-display {
  width: 750px;
  height: 500px;
  margin: 12px auto 0 auto;
  background-color: #eef1f4;
  position: relative;
}

#game-message {
  color: red;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

#spaceman-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#answer-display {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 200px;
  margin: 0 auto;
  background: white;
  border-radius: 8px;
}

#ltr-buttons {
  width: 750px;
  box-sizing: border-box;
  padding: 24px 0;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}

.logo {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ltr-row {
  display: flex;
  justify-content: center;
}

.ltr-button {
  height: 20px;
  width: 20px;
  padding: 12px;
  margin: 4px;
  border-radius: 8px;
  color: #fff;
  background: #545f71;
  text-align: center;
}
