@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

#title {
  width: 300px;
  margin: 40px auto 12px auto;
}

#container-game {
  display: flex;
  justify-content: center;
}

#game-display {
  display: flex;
  align-items: center;
  width: 70vw;
  height: 500px;
  margin: 12px auto 0 auto;
  background-color: #eef1f4;
  position: relative;
}

#game-message {
  color: red;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

#spaceman-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#answer-display {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 200px;
  margin: 0 auto;
  text-transform: uppercase;
  background: white;
  border-radius: 8px;
}

#ltr-buttons {
  box-sizing: border-box;
  padding: 24px 0;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
}

#reset {
  width: 80px;
  height: 40px;
  position: absolute;
  left: 20px;
  top: 20px;
  margin: 0 auto;
  text-transform: uppercase;
  background: #9686bc;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 8px;
}

#reset:hover {
  background-color: #6f6092;
  transition-duration: 0.3s;
}

.logo {
  width: 100%;
}

#container-menu {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ltr-row {
  display: flex;
  justify-content: center;
}
/* responsive design for mobile - 375px */

.ltr-button {
  height: 40px;
  width: 40px;
  margin: 4px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: #545f71;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.ltr-button:hover {
  background-color: #3a424f;
  transform: scale(1.05);
  transition-duration: 0.3s;
}
